* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: 0 0.5rem;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}


/* navbar */

nav {
    background-color: #2c3e50;
    color: #fff;
    padding: 2.4rem 0;
    font-family: 'Montserrat';
    position: absolute;
    width: 100%;
    z-index: 500;
}

nav.nav-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}


#logo-box .logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 3.2rem;
    text-transform: uppercase;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links ul{
    display: flex;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}

.nav-span {
    display: none;
}

.bar {
    display: block;
    background-color: #fff;
    width: 25px;
    margin: 5px auto;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.nav-span.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.nav-span.active .bar:nth-child(2){
    opacity: 0;
}

.nav-span.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


@media only screen and (max-width: 992px) {

    #logo-box {
        display: flex;
        justify-content: space-between;
    }

    #nav-links {
        position: fixed;
        background-color: #2c3e50;
        top: 77px;
        width: 100%;
        text-align: center;
        left: -100%;
    }

    nav.nav-fixed #nav-links {
        background-color: black;
    }

    #nav-links.active {
        left: 0;
    }

    #nav-links ul {
        display: block;
    }

    #nav-links .nav-link {
        padding: 1.6rem 0;
    }

    .nav-span {
        display: block;
    }

}

/* header */

header {
    background-color: #18bc57;
    padding-top: calc(104px + 10rem);
    padding-bottom: 104px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 7.6rem;
    text-transform: uppercase;
}

header h2 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    font-family: "Lato";
}

.star-light {
    border: none;
    border-top: 0.4rem solid white;
    margin: 2.5rem auto;
    max-width: 25rem;
    overflow: visible;
    height: 0;
}

.star-light::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -25px;
    background-color: #18bc57;
    padding: 0 0.8rem;
}

@media only screen and (max-width: 992px) {
    .star-light::after {
        top: -20px;
    }
}

@media only screen and (max-width: 600px) {
    .img-fluid {
        max-width: 40%;
    }

    .star-light::after {
        top: -15px;
    }
}


/* Portfolio */

#portfolio {
    height: auto;
    padding: 10rem 0;
    text-align: center;
}


#portfolio h2{
    font-size: 4.8rem;
    color: #2c3e50;
    text-transform: uppercase;
}

.star-dark {
    border: none;
    border-top: 0.4rem solid #2c3e50;
    margin: 2.5rem auto;
    max-width: 25rem;
    overflow: visible;
    height: 0;
}

.star-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: #2c3e50;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -25px;
    background-color: #fff;
    padding: 0 0.8rem;
}

.portfolio-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 33.33333%;
    height: auto;
    padding: 10px 15px;
}

.box img {
    width: 100%;
    display: block;
}

.box-item {
    position: relative;
}

.box-after {
    background-color: #18bc57;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

}

.box-after i {
    font-size: 6rem;
    color: #fff;
}

.box-item:hover .box-after{
    opacity: 0.8;
    transition: 0.5s;
}



@media only screen and (max-width: 992px) {
    .star-dark::after {
        top: -20px;
    }
}

@media only screen and (max-width: 600px) {
    .portfolio-boxes {
        justify-content: center;
    }

    .box {
        width: 40%;
    }

    .star-dark::after {
        top: -15px;
    }
}


/* About */

#about {
    background-color:  #18BC9C;
    color: #fff;
    height: auto;
    padding: 10rem 0;
    text-align: center;
}

#about h3{
    font-size: 4.8rem;
    text-transform: uppercase;
}

#about .star-light::after {
    background-color: #18bc9c;
}

.about-text {
    display: flex;
    justify-content: center;
    text-align: start;
}

.about-text .text {
    width: 35%;
    margin: 1rem 3rem;
    font-size: 2rem;
}

.about-button {
    padding: 20px 15px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #18BC9C;
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
    transition: 0.5s;
}

.about-button:hover {
    color: black;
    background-color: #fff;
    transition: 0.5s;
}

@media only screen and (max-width: 992px) {
    .about-text {
        display: block;
    }

    .about-text .text {
        width: 100%;
    }
}

/* Contact */

#contact {
    text-align: center;
    padding: 10rem 0;
}

#contact h4{
    font-size: 4.8rem;
    color: #2c3e50;
    text-transform: uppercase;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#contact-form input {
    width: 70%;
    border: none;
    padding: 28px 0;
    border-bottom: 1px solid;
    font-size: 2rem;
    outline: none;
}

#contact-form textarea {
    width: 70%;
    border: none;
    padding: 28px 0;
    border-bottom: 1px solid;
    font-size: 2rem;
    outline: none;
}

.button {
    display: flex;
    justify-content: start;
    width: 70%;
}

.button button{
    padding: 10px;
    margin-top: 5rem;
    background-color: #18bc9c;
    border:1px solid #18bc9c;
    border-radius: 5px;
    color: #fff;
}

.button button:hover {
    background-color: #128f76;
    border-color: #128f76;
}

/* Footer */

footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 10rem 0;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

.col {
    width: 30%;
}

.col h4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #fff;
}

.col p {
    font-size: 1.8rem;
    color: #fff;
}

.footer-list {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.footer-list a {
    color: #fff;
    display: inline-block;
    padding: 10px 12px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    transition: 0.5s;
}

.footer-list a:hover {
    color: #2c3e50;
    background-color: #fff;
    transition: 0.5s;
}

@media only screen and (max-width: 992px) {
    footer .container {
        flex-wrap: wrap;
        justify-content: start;
    }

    .col {
        width: 50%;
    }

    .col h4 {
        font-size: 3rem;
    }

    .col p {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 768px) {
    footer .container {
        flex-wrap: wrap;
        justify-content: start;
    }

    .col {
        width: 100%;
        margin-bottom: 3rem;
    }


}


.copyright {
    text-align: center;
    padding: 2rem 0;
    background-color: #1A252F;
    color: #fff;
}



